<%= render "shared/third-header" %>
<div class="create-page">
  <div class="success-title">
    <h3>思い出を残しました。</h3>
  </div>
  <div class="success-sub">
    <a class="success-btn" href="/">記録一覧へ戻る</a>
  </div>
</div>
