* {
  box-sizing: border-box;
}
.second-header-main {
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-color: #D2C6B8;
  display: flex;
  justify-content: center;
}

.top-page-second-header {
  width: 50%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-width: 450px;
}

.withbaby-icon {
  width: 200px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin-top: 4vh;
}
