* {
  box-sizing: border-box;
}
.second-footer-main {
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-color: #D2C6B8;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.top-page-footer {
  width: 50%;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-width: 450px;
}

.second-icon {
  width: 180px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
}
