* {
  box-sizing: border-box;
}
.third-header-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.top-page-third-header {
  width: 50%;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.withbaby-icon {
  width: 200px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
}
