<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo-with-baby.png", class:"withbaby-icon"), "/" %>
  </div>
  <div class='nav'>
    <% if user_signed_in? %>
      <ul class='lists-right'>
        <li><%= link_to "#{current_user.babyname}#{current_user.parent.name}", "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "logout" %></li>
      </ul>
    <% else %>
    <% end %>
  </div>
</header>