<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="second-header-main">
  <div class="top-page-second-header">
    <div class='header-contents'>
      <%= link_to image_tag("logo-with-baby.png", class:"withbaby-icon"), "/" %>
    </div>
  </div>
</header>