*{
  margin: 0;
}
.main {
  background: #D2C6B8;
}

a {
  text-decoration: none;
}

.title-contents {
  width: 100vw;
  height: 60vh;
  background-image: image-url('title-image1.png'),image-url('title-image2.png');
  /*2枚の画像の横幅を、いずれもcontainer幅の半分に指定*/
  background-size: 50% auto,50% auto;
   /*1枚目の画像を左上、2枚目の画像を右下に配置*/
   background-position: left top,right top;
  /*2枚の画像をいずれも繰り返さないよう指定*/
  background-repeat: no-repeat,no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: rgb(20, 164, 208);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  margin-bottom: 50px;
}

.service-title{
  font-size: 5vh;
}

.service-explain{
  font-size: 3vh;
}

.introduction{
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.main-introduction{
  display: block;
  border: 3px orange solid;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 3vh;
}

.introduction-title{
font-size: 4vh;
color: rgb(20, 164, 208);
margin-bottom: 2vh;
}

.introduction{
  height: 105vh;
  margin-left: 20px;
}

.introduct-text{
  margin-bottom: 2vh;
  font-size: 2vh;
  font-weight: bold;
}

.introduct-sub-text{
  margin-bottom: 2vh;
  font-size: 2vh;
  font-weight: bold;
}

.introduction-content{
  height: 38vh;
  width: 20vw;
  // border: #000 solid;
  background-size: 80% auto;
  background-image: image-url('introduce-image2.png');
  background-repeat: no-repeat;
}

.introduction-content-second{
  height: 40vh;
  width: 20vw;
  // border: #000 solid;
  background-size: 80% auto;
  background-image: image-url('introduce-image1.png');
  background-repeat: no-repeat;
}

.introduct{
  display: flex;
  margin-bottom: 2vh;
}

.introduction-right{
  font-size: 3vh;
  color: rgb(20, 164, 208);
  border: orange 3px solid;
  padding: 20px 20px 40px 20px;
  border-radius: 15px;
}

.right-title{
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: rgb(20, 164, 208) 1px solid;
}
.login {
  text-decoration: none;
  line-height: 32px;
  color: #ffffff;
  background-color: orange;
  border-radius: 15px;
  padding: 10px;
}

.login:hover{
  background-color: rgb(255, 145, 0);
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
  background-color: orange;
  border-radius: 15px;
  padding: 10px;
}

.sign-up:hover{
  background-color: rgb(255, 145, 0);
}

/* 記録一覧 */

.item-contents {
  background-color: #D2C6B8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  border-bottom: 2px solid;
  padding: 0px 100px ;
  margin-bottom: 3vh;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: rgb(20, 164, 208);
  font-weight: bold;
  margin-bottom: 2vh;
}

.purchase-btn{
  height: 5vh;
}

.purchase-btn-text{
  text-decoration: none;
  font-size: 3vh;
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  color: #ffffff;
}

.purchase-btn-text:hover{
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.item-lists>.list {
  width: 37vh;
  background-color: #D2C6B8;
  text-decoration: none;
  margin: 10px 10px;
}

.item-img-content {
  margin-left: 15px;
}

.item-img {
  width: 33vh;
  height: 28vh;
  border-radius: 10px;
}
.item-img {
transition: 0.5s;
}
.item-img:hover {
transform: scale(0.85, 0.85);
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  border: 2px solid;
  border-radius: 15px;
}

.diary-title {
  font-size: 2.5vh;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.diary-comment{
  font-size: 2vh;
}

.diary-day{
  font-size: 1vh;
  margin-left: 180px;
}

.meal-btn{
  height: 5vh;
}

.meal-img-content {
  margin-left: 15px;
}

.meal-btn-text{
  text-decoration: none;
  font-size: 3vh;
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  color: #ffffff;
}

.meal-btn-text:hover{
  font-weight: bold;
}

.meal-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  border: 2px solid;
  border-radius: 15px;
}

.meal-title {
  font-size: 2.5vh;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.meal-comment{
  font-size: 2vh;
  margin-bottom: 5px;
}

.meal-time{
  font-size: 2vh;
}

.meal-day{
  font-size: 1vh;
  margin-left: 180px;
}

/* //記録一覧 */